---
import { navItems } from "./navItems";
---

<div
  id="dropdownNavbar"
  class="hidden z-10 bg-[#070724] w-full my-10 text-white"
>
  <div class="flex flex-col justify-center h-full items-center gap-y-5">
    <div class="w-full border-b-[1px] border-b-[#979797]">
      <a href="/" class="flex items-center justify-between">
        <div class="flex items-center mb-5">
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="ml-[24px]"
          >
            <circle cx="10" cy="10" r="10" fill="#DEF4FC"></circle>
          </svg>
          <p class="ml-[25px]">MERCURY</p>
        </div>
        <img
          src="/assets/icon-chevron.svg"
          alt="chevron icon"
          class="w-[4px] h-[8px] mr-[32px] mb-5"
        />
      </a>
    </div>
    {
      navItems.map(({ name, fill }) => (
        <div class="w-full border-b-[1px] border-b-[#979797] last:border-b-[0px]">
          <a
            href={`/${name.toLowerCase()}/overview`}
            class="flex justify-between items-center mb-5"
          >
            <div class="flex items-center">
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="ml-[24px]"
              >
                <circle cx="10" cy="10" r="10" fill={fill} />
              </svg>
              <p class="ml-[25px]">{name}</p>
            </div>
            <img
              src="/assets/icon-chevron.svg"
              alt="chevron icon"
              class="w-[4px] h-[8px] mr-[32px]"
            />
          </a>
        </div>
      ))
    }
  </div>
</div>
