---
import Navbar from "../components/Navbar/Navbar.astro";

import "@fontsource/antonio";
import "@fontsource/spartan";

export interface Props {
  title: string;
}

const { title } = Astro.props;
import "../styles/index.css";
---

<!DOCTYPE html>
<html lang="en" class="bg-[#070724]">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/assets/favicon-32x32.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <Navbar />
  <body class="bg-[url('/assets/bg-stars.svg')]">
    <main class="text-white h-auto">
      <slot />
    </main>
    <script src="../../node_modules/flowbite/dist/flowbite.js"></script>
  </body>
</html>
