---
//
import sedans from "/icon-sedans.svg";
import suvs from "/icon-suvs.svg";
import luxury from "/icon-luxury.svg";

import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import "../styles/index.css";
---

<Layout title="3-column-preview-card-component">
	<main
		class="flex flex-col justify-center items-center xl:flex-row xl:h-screen"
	>
		<Card
			img={sedans}
			title={"SEDANS"}
			body={`Choose a sedan for its affordability and excellent fuel economy. Ideal for cruising in the city 
		or on your next road trip.`}
			extraStyles={{
				backGround: "bg-[#E38826]",
				buttonText: "text-[#E38826] text-[10px]",
				roundCorners:
					"rounded-t-lg xl:rounded-bl-lg xl:rounded-tl-lg xl:rounded-tr-none",
				margins: "mt-8 xl:mt-0",
			}}
		/>
		<Card
			img={suvs}
			title={"SUVS"}
			body={`Take an SUV for its spacious interior, power, and versatility. Perfect for your next family vacation 
				and off-road adventures.`}
			extraStyles={{
				backGround: "bg-[#006970]",
				buttonText: "text-[#006970] text-[10px]",
				roundCorners: "",
				margins: "",
			}}
		/>
		<Card
			img={luxury}
			title={"LUXURY"}
			body={`Cruise in the best car brands without the bloated prices. Enjoy the enhanced comfort of a luxury 
				rental and arrive in style.`}
			extraStyles={{
				backGround: "bg-[#004241]",
				buttonText: "text-[#004241] text-[10px]",
				roundCorners:
					"rounded-b-lg xl:rounded-br-lg xl:rounded-tr-lg xl:rounded-bl-none",
				margins: "mb-8 xl:mb-0",
			}}
		/>
	</main>
</Layout>
