---
import DigitBox from "./DigitBox.astro";
---

<script>
  import "../lib/counter";
</script>;

<div>
  <h1
    class="font-['Red Hat Text'] font-bold text-white text-[18px] w-[327px] tracking-[6.14px] text-center mx-auto mt-[142px]"
  >
    WE&acute;RE LAUNCHING SOON
  </h1>
  <div id="clockdiv" class="max-w-327 flex justify-center mt-[54px] text-white">
    <DigitBox num={8} unit={"DAYS"} flip={false} />
    <DigitBox num={23} unit={"HOURS"} flip={false} />
    <DigitBox num={55} unit={"MINUTES"} flip={false} />
    <DigitBox num={41} unit={"DAYS"} flip={false} />
  </div>
</div>
