---
export interface Props {
  title: string;
  data: string;
}

const { title, data } = Astro.props;
---

<div
  class="flex w-[327px] h-[48px] border-[1px] border-[#D8D8D8] justify-center items-center mb-[8px]"
>
  <p class="text-[#FFFFFF] text-[8px] mr-[135px]">{title.toUpperCase()}</p>
  <h1 class="text-[20px]">{data.toUpperCase()}</h1>
</div>
