---
import Pagination from "../components/Pagination.astro";
import Layout from "../layouts/Layout.astro";
import data from "../utils/data.json";
---

<Layout title="Planets fact site">
  <Pagination
    overviewLink="/"
    structureLink="/structure"
    surfaceLink="/surface"
  />
  <section class="flex flex-col justify-center items-center">
    <img
      src="assets/planet-mercury.svg"
      alt="mercury"
      width="111px"
      height="111px"
      class="my-[95px]"
    />
    <div>
      <h2 class="text-center">{data[0].name.toUpperCase()}</h2>
      <p class="text-center mt-[16px] text-[11px] w-[327px] leading-[22px]">
        {data[0].overview.content}
      </p>
    </div>
    <p class="mt-[32px] text-[#FFFFFF]">
      Source: <a href={data[0].overview.source} target="_blank">Wikipedia</a>
    </p>
  </section>
</Layout>
